name: Foundry CI

on:
  push:
    branches: [dev, master, main]
  pull_request:
    branches: [dev, master, main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@de808b1eea699e761c404bda44ba8f21aba30b2c #v1.3.1
        with:
          version: nightly

      - name: Run Forge install
        run: forge install

      - name: Setup NodeJS 20.5.0
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 #v4.4.0
        with:
          node-version: 20.5.0

      - name: Install nodes modules inside CMTAT lib
        run: npm install
        working-directory: ./lib/CMTAT

      - name: Run Forge build
        run: forge build --sizes

      - name: Run Forge tests
        run: forge test -vvv
